.login-page {
  /* background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #0d6efd;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.img-section {
  padding: 0;
}
.img-section img {
  max-height: 100vh;
  width: auto;
}
.form-section {
  height: 100vh;
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  border-bottom: 0;
  border-top: 0;
}
.form-section .card-section {
  margin-inline: 20px;
}
.login-page .card .card-body {
  padding: 10px;
}

.login-page ul {
  padding: 0;
}

.login-page .btr {
  border-top-right-radius: 5px !important;
}

.login-page .btl {
  border-top-left-radius: 5px !important;
}

.login-page .btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.login-page .btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.login-page .form {
  padding: 10px;
}

.login-page .form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.login-page .form input:focus {
  box-shadow: none;
}

.login-page .form button {
  width: 100%;
  background-color: #5d9711 !important;
  color: #fff;
}

.login-page .choose-card img {
  width: 100px;
}

@media (max-width: 500px) {
  .login-page .choose-card img {
    width: 80px;
  }
}
@media (max-width: 400px) {
  .login-page .choose-card img {
    width: 40px;
  }
}

.login-page .choose-card p {
  margin: 0;
  margin-top: 5px;
  color: #fff;
}

.login-page .nav-pills .nav-link.active,
.login-page .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #5d9711;
}
.login-page .text-new {
  color: #e4eaf7;
}
.login-page .text-new a {
  transition: 0.4s ease all;
}
.login-page .text-new a:hover {
  text-decoration: underline !important;
}
.login-page input[type="checkbox"] {
  accent-color: red;
  border: 1px solid;
}
